<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helper.store.dao.AuthDao">
    <resultMap id="User" type="com.helper.store.domain.User">
        <!-- property对应实体类的属性名称，column为数据库结果集的列的名称 -->
        <id property="id" column="id"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="store_name" column="storeName" jdbcType="VARCHAR"/>
        <result property="store_address" column="storeAddress" jdbcType="VARCHAR"/>
        <result property="is_auth" column="isAuth" jdbcType="INTEGER"/>
        <result property="is_merchant" column="isMerchant" jdbcType="INTEGER"/>
        <result property="address_id" column="addressId" jdbcType="INTEGER"/>
        <result property="invitation_code" column="invitationCode" jdbcType="VARCHAR"/>
        <result property="is_invitation" column="isInvitation" jdbcType="INTEGER"/>

    </resultMap>

    <select id="countPhone" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM `user`
        WHERE phone = #{phone}
    </select>

    <insert id="saveUser" parameterType="map">
        INSERT INTO `user` ( phone, `password`, `name`, card_front, card_reverse,store_name, store_address, invitation_code, is_invitation, nickname, inviter_invitation_code)
        VALUES
            ( #{phone}, #{password}, #{name}, #{card_front}, #{card_reverse}, #{store_name}, #{store_address}, #{invitationCode}, 0 ,#{nickName}, #{inviterInvitationCode})
    </insert>

    <select id="getUserByUserName" resultMap="User" parameterType="map">
        SELECT
          *
        FROM
          `user`
        WHERE
          phone = #{account}
    </select>

</mapper>