<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.store.dao.BalanceMapper">
    <insert id="saveBalance" parameterType="map">
        insert into withdrawalrecord(user_id,create_time,balance,`add`) select #{userId},#{createTime},#{balance},#{add}
        union all select
    </insert>
    
    <select id="dealInfo" parameterType="map">



    </select>










</mapper>