<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.store.dao.DisCountMapper">
    <select id="listDisCounts" resultType="map">
      SELECT
          d.*
      FROM
          discounts d
      LEFT JOIN `user` u ON d.user_id = u.id
      WHERE
          isvaild = 1 and
          d.user_id = #{userId}
  </select>

    <update id="updateDisCounts" parameterType="map">
        update discounts set isvaild = 0 where id = #{id}
    </update>
</mapper>