<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.store.dao.GoodsBulkMapper">
  <resultMap id="BaseResultMap" type="com.helper.store.domain.GoodsBulk">
    <result column="gsb_id" jdbcType="INTEGER" property="gsbId" />
    <result column="shoe_id" jdbcType="INTEGER" property="shoeId" />
    <result column="size" jdbcType="DOUBLE" property="size" />
    <result column="is_sell" jdbcType="INTEGER" property="isSell" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
  </resultMap>

  <select id="selectSize" resultType="map">
        SELECT
            gb.shoe_id,
            gb.size,
            gb.price,
            gb.is_sell
        FROM
            goods_bulk gb
        LEFT JOIN shoe ON gb.shoe_id = shoe.id
        WHERE
            gb.shoe_id = #{shoeId}
  </select>
</mapper>