<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.helper.store.dao.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.helper.store.domain.Goods">
    <result column="gs_id" jdbcType="INTEGER" property="gsId" />
    <result column="shoe_id" jdbcType="INTEGER" property="shoeId" />
    <result column="size" jdbcType="DOUBLE" property="size" />
    <result column="is_sell" jdbcType="INTEGER" property="isSell" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="sale_created" jdbcType="VARCHAR" property="saleCreated" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="create_user" jdbcType="INTEGER" property="createUser" />
    <result column="courier"  jdbcType="VARCHAR" property="courier" />
  </resultMap>

    <select id="selectSize" resultType="map">
        SELECT
            goods.gs_id,
            goods.shoe_id as shoeId,
            goods.size,
            goods.price,
            goods.is_sell
        FROM
            goods
        LEFT JOIN shoe ON goods.shoe_id = shoe.id
        WHERE
            goods.shoe_id = #{shoeId}
  </select>

    <!-- 根据shoeId查找鞋信息 -->
    <select id="selectShoeByShoeId" resultType="map">
        SELECT
            s.*,
            MIN(g.price) AS minPrice,MAX(wb.price) AS maxPrice
            FROM shoe s
          LEFT JOIN want_buy wb ON wb.shoe_id = s.id
          LEFT JOIN goods g ON g.shoe_id = s.id
        WHERE s.id = #{shoeId}
    </select>

    <!-- 查找交易记录-->
    <select id="selectOrderByGoodsId" resultType="map">
            SELECT
                o.*,
                u.name,
                gs.size
            FROM
                `order` o
            LEFT JOIN goods gs ON gs.gs_id = o.gs_id
            LEFT JOIN shoe s ON s.id = gs.shoe_id
            LEFT JOIN address a ON a.id = o.address_id
            LEFT JOIN `user` u ON u.id = o.buy_user_id
            WHERE
            gs.shoe_id = #{shoeId}
    </select>
    
    <select id="shoesOnSale" parameterType="map" resultType="map">
        select
          shoe.*,
          goods.size,
          goods.price
        from
          shoe,
          goods
        where shoe.id=goods.shoe_id
          and goods.create_user=#{userId}
    </select>
    
    <insert id="sellingShoes" parameterType="map">
        insert into goods(shoe_id,`size`,price,courier,create_user) value (#{shoeId},#{size},#{price},#{courier},#{userId})

    </insert>

    <select id="getMinPrice" parameterType="map" resultType="map">
       select min(price)as mip from goods
       where shoe_id=#{shoeId} and `size`=#{shoeSize}
   </select>

    <select id="getMaxPrice" parameterType="map" resultType="map">
       select max(price) as map from goods
       where shoe_id=#{shoeId} and `size`=#{shoeSize}
   </select>

</mapper>