<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helper.store.dao.UserDao">
    <select id="getUserInfoById" parameterType="map" resultType="map">
        SELECT
            u.store_name,
            u.address,
            u.score,
            COUNT( DISTINCT wb.id ) AS wantBuyCount,
            COUNT( DISTINCT g.id ) AS goodsCount,
            COUNT( DISTINCT gb.id ) AS goodsBuldCount
        FROM
            `user` u
            LEFT JOIN want_buy wb ON u.id = wb.create_user
            LEFT JOIN goods g ON u.id = g.create_user
            LEFT JOIN goods_bulk gb ON u.id = gb.create_user
        WHERE
            u.id = #{userId}
        GROUP BY
            u.id
    </select>

    <update id="updateStoreName" parameterType="map">
        UPDATE `user`
        SET store_name = #{storeName}
        WHERE
            id = #{userId}
    </update>

    <update id="updateAddress" parameterType="map">
        UPDATE `user`
        SET address = #{address}
        WHERE
            id = #{userId}
    </update>

    <update id="updateImg" parameterType="map">
        UPDATE `user`
        SET img = #{img}
        WHERE
            id = #{userId}
    </update>

</mapper>