<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helper.store.dao.UserDao">
    <select id="getUserInfoById" parameterType="map" resultType="map">
        SELECT
            u.store_name,
            u.address,
            u.score,
            COUNT( DISTINCT wb.want_id ) AS wantBuyCount,
            COUNT( DISTINCT g.gs_id ) AS goodsCount,
            COUNT( DISTINCT gb.gsb_id ) AS goodsBuldCount
        FROM
            `user` u
            LEFT JOIN want_buy wb ON u.id = wb.create_user
            LEFT JOIN goods g ON u.id = g.create_user
            LEFT JOIN goods_bulk gb ON u.id = gb.create_user
        WHERE
            u.id = #{userId}
        GROUP BY
            u.id
    </select>

    <select id="getUserInfo" parameterType="map" resultType="map">
        select *
        from `user`
        where id=#{userId}

    </select>

    <update id="updateStoreName" parameterType="map">
        UPDATE `user`
        SET store_name = #{storeName}
        WHERE
            id = #{userId}
    </update>

    <update id="updateAddress" parameterType="map">
        UPDATE `user`
        SET address = #{address}
        WHERE
            id = #{userId}
    </update>

    <update id="updateImg" parameterType="map">
        UPDATE `user`
        SET img = #{img}
        WHERE
            id = #{userId}
    </update>

    <select id="getBalanceByUser" parameterType="map" resultType="map">
        SELECT
            `user`.balance,
            withdrawalrecord.*,
            `user`.user_AliPay,
            `user`.phone
        FROM
            `user`,withdrawalrecord
        WHERE
            `user`.id = #{userId} and `user`.id=withdrawalrecord.user_id
        GROUP by withdrawalrecord.creat_time desc
    </select>

    <update id="updateUserBalance" parameterType="map">
        UPDATE `user`
            SET balance = #{balance}
        WHERE
            id = #{userId}
    </update>

    <update id="updateUserAliPay" parameterType="map">
        UPDATE `user`
            SET user_aliPay = #{userAliPay}
        WHERE
            id = #{userId}
    </update>

    <update id="withdrawal" parameterType="map">
        update `user`
         set balance= balance - #{balance}
         where id=#{userId}
    </update>

    <insert id="saveWithdrawalrecord" parameterType="map">
        insert into withdrawalrecord(user_id,creat_time,balance) value (#{userId},now(),#{balance})
    </insert>

</mapper>